

<div class="container searchPadding">
  <form (ngSubmit)="onSubmit(username)">
    <div class="form-group">
      <input
      type="text"
      class="input"
      name="username"
      [(ngModel)]="username"
      placeholder="Search for users and repositories...."
    />
    </div>
    <button class="animate__animated animate__rubberBand animate__delay-3s animate__repeat-4" routerLink="usersearch" [disabled]="username.length < 2"
      appHover> Search User
    </button>
  </form>
</div>
  <br>


  <div class= "topPadding container " *ngIf = "user">
      <div class="card">
        <h1 class="animate__animated animate__heartBeat animate__repeat-3">GitHub Profile</h1>

      <h5 class="card-header">{{user.name}} <small>({{user.login}})</small></h5>
      <p>{{user.bio}}</p>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">

            <img src="{{user.avatar_url}}" class="img-thumbnail img-fluid">
            <hr>

              <a href="{{user.html_url}}" class="btn btn-outline-success btn-block" target="_blank"> GitHub Profile</a>

          </div>

          <div class="col-md-6">

           <button id="btn1"><span >{{user.followers}} Followers</span></button>
            <span class="badge badge-secondary">{{user.following}} Following</span>
            <span class="badge badge-success"> Location {{user.location }} </span>
            <span class="badge badge-info">{{user.public_repos}} Public Repos</span>
             <hr>

            <div class="card">
             <ul >

              <li class="list-group-item" *ngIf="user.location">Lives in: {{user.location}}</li>
              <li class="list-group-item" *ngIf="user.blog">Blog: {{user.blog}}</li>
              <li class="list-group-item" *ngIf="user.company">Company: {{user.company}}</li>
              <li class="list-group-item" *ngIf="user.organizations_url">Hireable: Yes <br> Organizations: {{user.organizations_url}}</li>
              <li class="list-group-item" *ngIf="user.updated_at">Updated at: {{user.updated_at}}</li>

           </ul>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>

    <hr>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="animate__animated animate__bounce animate__repeat-3">Repositories</h2>
           <div class="row">
           <div *ngFor="let repo of repos" class="card2 bg-light mb-3"  style="width: 24rem;">
            <div class="card-body">

              <a href="{{repo.html_url}}" target="_blank" style="color: cyan; font-size: larger; font-family: 'Montserrat', sans-serif;">{{repo.name}}</a>

              <p class="repo.description">{{repo.description}}</p>
              <p class="starred url">{{repo.starred_url}}</p>
              <p class="repodate"><span>Created at: {{ user.created_at | date:"medium"}}</span></p>
              <p class="forks"> Forks : {{repo.forks}}</p>
              <p class="forks"> Starred : 2 {{repo.starred_url}} </p>

              <a href="{{repo.html_url}}" target="_blank" class="btn btn-outline-info animate__animated animate__rubberBand animate__repeat-3"style="width: 7.5rem">See Repo</a>

              <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>

              </div>
            </div>
          </div>
        </div>
      <div>
  </div>






