.card-body
{
  background-color: black;
  margin-left: 2%;

}

.container-fluid{
  margin-left: 4%;
  background-image: none;
  border-style: none;
}

.topPadding container{
  border-style: none;
}
.card{
  border-style: none;
  
}
.card2{
  border-style: solid;
  margin-bottom: 20px;
  margin-right: 20px;
  border-color:white ;
  box-shadow: 5px, white;
  border-radius: 6px;
  background-color: black;
  font-family: 'Montserrat', sans-serif;


}




