<div class="container searchPadding">
  <form (ngSubmit)="onSubmit(username)">
    <div class="form-group">
      <input
      type="text"
      class="input"
      name="username"
      [(ngModel)]="username"
      placeholder="Search for users and repositories...."
    />
    </div>
    <button class="animate__animated animate__rubberBand"
    routerLink="usersearch"
    [disabled]="username.length < 2"
  appHover>
  Search User
  </button>
  <!-- <button class="btnrepo"  routerLink="reposearch" [disabled]="username.length<2">Repo Search </button> -->
</form>


  </div>
  <br>

  <div class= "topPadding container " *ngIf = "user">
    <h1>GitHub Profile</h1>

      <div class="card">
      <h5 class="card-header">{{user.name}} <small>({{user.login}})</small></h5>
      <p>{{user.bio}}</p>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">

            <img src="{{user.avatar_url}}" class="img-thumbnail img-fluid">
            <hr>

              <a href="{{user.html_url}}" class="btn btn-outline-success btn-block" target="_blank"> GitHub Profile</a>

          </div>
          <div class="col-md-2"></div>
          <div class="col-md-6">

           <button id="btn1"><span >{{user.followers}} Followers</span></button>
            <span class="badge badge-secondary">{{user.following}} Following</span>
            <span class="badge badge-success"> Location {{user.location }} </span>
            <span class="badge badge-info">{{user.public_repos}} Public Repos</span>
            <hr>


            <div class="card">
             <ul class="list-group list-group-flush">

              <li class="list-group-item" *ngIf="user.location">Lives in: {{user.location}}</li>
              <li class="list-group-item" *ngIf="user.blog">Blog: {{user.blog}}</li>
              <li class="list-group-item" *ngIf="user.company">Company: {{user.company}}</li>
              <li class="list-group-item" *ngIf="user.organizations_url">Hireable: Yes <br> Organizations: {{user.organizations_url}}</li>
              <li class="list-group-item" *ngIf="user.updated_at">Updated at: {{user.updated_at}}</li>

           </ul>
          </div>

          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="card">
      <h5 class="card-header">Repos</h5>
      <div class="card-body col-md-12" >


          <div class="card">
            <ul class="list-group list-group-flush" *ngFor="let repo of repos">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-9">
                  <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>

                  <small>(Created days ago)</small>
                  <p>{{repo.description}}</p>
                </div>
                <div class="col-md-3">
                  <span class="badge badge-primary">{{repo.starred_url}} Starred 2</span>
                  <span class="badge badge-info">{{repo.forks}} Forks</span>
                  <br>
                  <a href="{{repo.html_url}}" target="_blank" class="btn btn-outline-info" style="width: 7.5rem">See Repo</a>
                </div>


                </div>

              </li>
            </ul>
          </div>
        </div>

    </div>
  </div>
